{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
        <h1>Action + Satisfaction = Actifaction</h1>
        <p>Bodimo aktivni v svojem druženju.</p>
        <p>
          {% if user.is_authenticated %}
          <a class="btn btn-lg btn-primary" href="/actions" role="button">Kaj se dogaja? »</a>
        </p>
        {% else %} <a class="btn btn-lg btn-primary" href="accounts/register" role="button">Registriraj se »</a>
        {% endif %}
        </p>
</div>

{% if user.is_authenticated %}



        <div class="row">

        {% for action in actions %}
        <div class="col-md-4 aktivnost">

        <h4><a href="{% url "web.view_action" action.id %}">{{action.title}}</a></h4>
            <div class="ikona">

            </div>
            <div class="vsebina">
                {{action.action_date}}
                {{action.location}}
                {{action.action_type}}
            </div>

            <div class="toolbar"><a class ="btn btn-default" href="/action/{{action.id}}/"> View Event</a>
            </div>

        </div>
        {% endfor %}
</div>


    {% else %}
        <p>Za pregled aktivnosti morate biti prijavljeni. Sorči.</p>
    {% endif %}

{% endblock %}